body {
	background-color: rgb(10, 10, 90);
	margin-left: 400px;
	margin-top: 200px;
}

h1 {
	color: white;
	margin-left: 160px;
}
form {
	width: 400px;
	display: flex;
	flex-direction: column;
}
input {
	background-color: rgb(4, 4, 46);
	margin-bottom: 10px;
	border-style: none;
	border-radius: 5px;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	background-color: rgb(75, 142, 230);
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-style: none;
	border-radius: 5px;
	padding: 10px;
}
